.container {
      background-image: url("../../public/assets/images/bg1.jpg");
      min-height: calc(100vh - 89px);
      width: 100%;
      background-repeat: no-repeat;
      position: relative;
      text-align: center;
      background-size: cover;
      background-position: right;
      padding: 38px 0;
}
.title {
      position: relative;
      height: 112px;
      width: 600px;
      margin: auto;
      z-index: 5;
}
.logo {
      position: relative;
      height: 118px;
      width: 137px;

      margin: auto;
      margin-bottom: 54px;
}
.content {
      position: relative;
      animation: engineGreen 0.5s infinite;
}
.car {
      display: inline-block;
      z-index: 1;
      ::before {
            content: "";
            background-image: url("../../public/assets/images/shadow.png");
            position: absolute;
            bottom: -26%;
            left: 20%;
            z-index: -1;
            height: 100%;
            width: 100%;
            background-size: 100% 100%;
      }
}

.black_car {
      position: relative;
      bottom: 50%;
      left: -6%;
      animation: engine 0.3s infinite;
}
.green_car {
      position: absolute;
      right: 2%;
      bottom: 60%;
      ::after {
            content: "";
            position: absolute;
            background-size: contain;
            width: 100%;
            height: 200%;
            background-image: url("../../public/assets/images/greenblur.png");
            // background-color: red;
            right: -5%;
            top: -4%;
      }
}
.footer {
      position: absolute;
      bottom: 20px;
      width: 100%;
      &::before {
            content: "";
            position: absolute;
            min-width: 20px;
            min-height: 20px;
            left: 36%;

            background-image: url(../../public/assets/images/scrollDown.png);
            animation: scrollDown 0.4s infinite;
      }
      &::after {
            content: "";
            position: absolute;
            min-width: 20px;
            left: 62%;
            min-height: 20px;
            background-image: url(../../public/assets/images/scrollDown.png);
            animation: scrollDown 0.4s infinite;
      }
      &_img {
            margin: 0 10px 0 30px;
      }
}

@keyframes scrollDown {
      from {
            top: -8px;
      }
      to {
            top: 8px;
      }
}
@keyframes engine {
      0%,
      50%,
      100% {
            bottom: 50%;
      }
      25%,
      75% {
            bottom: 51%;
      }
}
@keyframes engineGreen {
      0%,
      50%,
      100% {
            bottom: -14px;
      }
      25%,
      75% {
            bottom: -16px;
      }
}
.below_shadow {
      position: absolute;
      height: 500px;
      width: 100%;
      top: 36%;
      left: 7%;
}
