.container {
      position: relative;
      background-image: url(../../public/assets/images/bg8.png);
      text-align: center;
      padding: 40px 0;
      background-repeat: no-repeat;
}
.contents {
      padding: 50px 100px;
}
