.container {
      position: relative;
      background-image: url(../../public/assets/images/bg8.png);
      text-align: center;
      padding: 40px 0;
      margin-top: -10px;
}
.contents {
      padding: 50px 100px;
      width: 76%;
      margin: auto;
}
