.header {
      background-image: url("../public/assets/images/headerBg.png");
      &_logo {
            max-height: 89px;
            height: 89px;
            width: 100%;
            text-align: center;
            margin: auto;
            &_img {
                  max-height: 89px;
            }
      }
}
.wrapper {
      max-width: 1200px;
      margin: auto;
}
